.location-datas-bloc {
    margin-top: 30px;
    & .location-datas-general {
        @media (min-width: $phoneScreenSize) {
            display: flex; 
            justify-content: space-between;;
        }
        & .location-datas-info {
            color: $colour-primary;            
            & h1 {
                font-size: 18px;    
                margin-bottom: 15px;    
                @media (min-width: $phoneScreenSize) {
                    font-size: 36px;   
                    max-width: 80%;
                }        
            }
            & h2 {
                font-size: 14px;
                @media (min-width: $phoneScreenSize) {
                    font-size: 18px;   
                }
            }
            & .datas-info-tags {
                color: $colour-secondary;
                display: flex;
                gap: 10px;
                margin: 10px 0;
                align-items: center;
                @media (min-width: $phoneScreenSize) {
                    margin: 20px 0; 
                }
                & li {
                    width: 84px;
                    text-align: center;
                    font-size: 10px;
                    padding: 0.4rem 0;
                    background-color: $colour-primary;
                    border-radius: 10px;
                    @media (min-width: $phoneScreenSize) {
                        width: 115px; 
                        font-size: 14px;
                    }
                }
            }
        }
        & .datas-profil {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            @media (min-width: $phoneScreenSize) {
                flex-direction: column;
                justify-content: flex-start;
                gap: 24px;
            }
            & .datas-profil-profil {
                display: flex;
                align-items: center;
                & h3 {
                    font-size: 12px;
                    width: 93px;
                    text-align: end;
                    margin-right: 10.5px;
                    color: $colour-primary;
                    @media (min-width: $phoneScreenSize) {
                        font-size: 18px;   
                    }
                }
                & img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    @media (min-width: $phoneScreenSize) {
                        width: 64px;
                        height: 64px;     
                    }
                }
            }
            & .datas-profil-rate {
                & img {
                    width: 15px;
                    height: 15px;
                    @media (min-width: $phoneScreenSize) {
                        width: 30px;
                        height: 30px;     
                    }
                }
            }
        }
    }
    & .location-datas-detail {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        @media (min-width: $phoneScreenSize) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem
        }
        & div {
            @media (min-width: $phoneScreenSize) {
                width: 582px;
            }
            & .about-collapse-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $colour-primary;
                color: $colour-secondary;
                border-radius: 5px;
                padding: 0.5rem;
                font-size: 13px;
                @media (min-width: $phoneScreenSize) {
                    width: 562px;
                    padding: 0.5rem 10px;
                    font-size: 18px;
                }
            }
            & .about-collapse-text {
                background-color: $colour-tertiary;
                color: $colour-primary;
                border-radius: 5px;
                padding: 1.5rem 0.8rem 0.5rem 0.8rem;
                font-size: 12px;
                margin-bottom: 15px;
                @media (min-width: $phoneScreenSize) {
                    width: 562px;
                    padding: 1.5rem 10px 0.5rem 10px;
                    font-size: 18px;
                }
            }
        }
    }
}