@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: $phoneScreenSize) {
        padding-left: 20px;
        padding-right: 20px;    
    }
    @media (min-width: $desktopScreenSize) {
        max-width: 1600px;
        margin: auto;
    }
}

a {
    color: black;
    text-decoration: none;
}

h1{
    margin: 0;
}

p{
    margin: 0;
}