header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    & a img{
        width: 220px;
        @media (max-width: $phoneScreenSize) {
            width: 170px;
        }
        @media (min-width: $desktopScreenSize) {
            width: 300px;
        }
    }
    & nav {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 30px;
        text-transform: uppercase; 
        @media (max-width: $phoneScreenSize) {
            font-size: 20px;
        } 
        @media (min-width: $desktopScreenSize) {
            font-size: 35px;
        } 
        & a {
            margin-left: 20px;
            color: $colour-primary;
            @media (max-width: $phoneScreenSize) {
                margin-left: 10px;
            } 
            @media (min-width: $desktopScreenSize) {
                margin-left: 40px;
            } 
        }
        & a:hover {
            text-decoration: underline;
        }
    }
  }
  
  